@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*

0-600px: phone

600-900px: tablet in portrait mode

900-1200px: tablet in landscape mode

1200-1800px: normal styles apply

1800px+: big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

Order: base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*
  set root font-size to 10px so that 1rem = 10px (x10).
  since default for most browsers is 16px, 10/16 = 0.625 or 62.5%
*/
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {

  box-sizing: border-box;
   }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*    font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /*  "shaky" fix  */
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /*    animation-delay: 3s;   */
    /*    animation-iteration-count: 3;   */
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /*  reduced to one line  */
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }






.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  /*  animates or transitions all properties for hover and active  */
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }



.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }






.header {
  position: relative;
  /*  sets the height to 95% of viewport  */
  height: 70vh;
  /*  gradient then image  */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://github.com/SUBstylee/CSS-projects/blob/master/17_Natours/img/hero-small.jpg?raw=true);
  /*  fits the width of the viewport  */
  background-size: cover;
  /*  pushes image to the top, useful for resizing  */
  background-position: top;
  /*  gives angle clipping to bottom of background  */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://github.com/SUBstylee/CSS-projects/blob/master/17_Natours/img/hero.jpg?raw=true); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__text-box {
    /*  centering element  */
    position: absolute;
    top: 40%;
    left: 50%;
    /*  positions points on box for top and left  */
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    position: absolute;
    top: 1.5rem;
    left: 5rem; }
  .header__logo {
    height: 8rem; }


    nav {
      max-width: 100%;
      mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
      margin: 0 auto;
      padding: 30px 0;
    }

    nav ul {
      text-align: center;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    }

    nav ul li {
      display: inline-block;
    }

    nav ul li a {
      padding: 18px;
      font-family: "Open Sans";
      text-transform:uppercase;
      color: rgba(0, 35, 122, 0.5);
      font-size: 18px;
      text-decoration: none;
      display: block;
    }

    nav ul li a:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
      background: rgba(255, 255, 255, 0.1);
      color: rgba(0, 35, 122, 0.7);
    }


.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }

      body > footer div {
          margin: auto;
          width: 70%;
          text-align: center;
          padding: 1.25em 0px;
      }
      body > footer .social {
          padding: 0em 1em;
      }
      body > footer .social img {
          vertical-align: middle;
          height: 2em;
      }
      body > footer .name {
          font-size: 1.2rem;
      }

.produkti{
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
      .card {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 210px 210px 80px;
        grid-template-areas: "image" "text" "stats";

        border-radius: 18px;
        background: white;
        box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
        font-family: roboto;
        text-align: center;


        transition: 0.5s ease;
        cursor: pointer;
        margin:30px;
      }
      .card-image {

        grid-area: image;
        background: url("img1.jpg");
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-size: cover;
      }

      .card-text {
        grid-area: text;
        margin: 25px;
      }
      .card-text .date {
        color: rgb(255, 7, 110);
        font-size:13px;
      }
      .card-text p {
        color: grey;
        font-size:15px;
        font-weight: 300;
      }
      .card-text h2 {
        margin-top:0px;
        font-size:28px;
      }
      .card-stats {
        grid-area: stats;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background: rgb(255, 7, 110);
      }
      .card-stats .stat {
        padding:10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
      }
      .card-stats .border {
        border-left: 1px solid rgb(172, 26, 87);
        border-right: 1px solid rgb(172, 26, 87);
      }
      .card-stats .value{
        font-size:22px;
        font-weight: 500;
      }
      .card-stats .value sup{
        font-size:12px;
      }
      .card-stats .type{
        font-size:11px;
        font-weight: 300;
        text-transform: uppercase;
      }
      .card:hover {
        transform: scale(1.15);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
      }

      /*card2*/
      .card-image.card2 {
        background: url("img2.jpg");
        background-size: cover;
      }
      .card-text.card2 .date {
        color: rgb(255, 77, 7);
      }
      .card-stats.card2 .border {
        border-left: 1px solid rgb(185, 67, 20);
        border-right: 1px solid rgb(185, 67, 20);
      }
      .card-stats.card2 {
        background: rgb(255, 77, 7);
      }
      /*card3*/
      .card-image.card3 {
        background: url("img3.jpg");
        background-size: cover;
      }
      .card-text.card3 .date {
        color: rgb(0, 189, 63);
      }
      .card-stats.card3 .border {
        border-left: 1px solid rgb(14, 122, 50);
        border-right: 1px solid rgb(14, 122, 50);
      }
      .card-stats.card3 {
        background: rgb(0, 189, 63);
      }






      .section-features {
        padding: 20rem 1rem;
        margin-top: -11.25vh;
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(https://github.com/SUBstylee/CSS-projects/blob/master/17_Natours/img/nat-4.jpg?raw=true);
        background-size: cover;
        transform: skewY(-7deg); }
        .section-features > * {
          transform: skewY(7deg); }
        @media (max-width: 56.25em) {
          .section-features {
            padding: 10rem 0; } }


.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }


/*Slider*/


a{
  color:#ccc;
}
.container{
  width:900px;
  min-height:315px;
  margin:0 auto;
  position:relative;
  padding-bottom:30px;
  overflow:hidden;
}

h2{
  font-size: 20px;
  color:#736861;
  margin:30px 0 5px;
  text-shadow:0 1px rgba(255,255,255,0.5);
}
h6{
  font-size: 15px;
  color:#928566;
  margin:0;
}
input[type="radio"] {
position: absolute;
width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
padding: 0;
margin: -1px;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}
label{
  display:block;
  width:32%;
  border: 4px solid #4ace67;
  ;
  position:absolute;
  bottom:5px;
  cursor: pointer;
  transition: border-color 0.3s linear;
}

label.second{
  left:34%;
}
label.third{
  left:68%;
}

blockquote{

  margin:0;
  padding:30px;
  width:900px;
  background-color: #5d737e;
  color:white;
  box-shadow: 0 5px 2px rgba(0,0,0,0.1);
  position:relative;
  transition: background-color 0.6s linear;
}

blockquote:after {
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  border: solid transparent;
  border-top-color: #5d737e;
  border-left-color:#5d737e;
  border-width: 10px;
  left: 10%;
}
#second:checked ~ .two blockquote {
  background-color:#004f2d;
}
.two blockquote:after{
  border: solid transparent;
  border-top-color: #004f2d;
  border-left-color:#004f2d;
  border-width: 10px;
}
#third:checked ~ .three blockquote{
  background-color:#54885F;
}
.three blockquote:after{
  border: solid transparent;
  border-top-color: #66a182;
  border-left-color: #66a182;
  border-width: 10px;
}
.quotes{
  position:absolute;
  color:rgba(255,255,255,0.5);
  font-size:5em;
}
.leftq{
  top:-25px;
  left:5px;
}
.rightq{
  bottom:-10px;
  right:5px;
}
.container img{
  float:left;
  margin-right: 40px;
}
.slide{
  position:absolute;
  left:-100%;
  opacity:0;
  transition: all 0.6s ease-in;
}

#first:checked ~ label.first {
  border-width:6px;
  border-color:#5d737e;
}
#second:checked ~ label.second {
  border-width:6px; border-color:#004f2d;
}
#third:checked ~ label.third {
  border:6px solid #54885F;
}

#first:checked ~ div.one {
  left:0;
  opacity:1;
}
#second:checked ~ div.two {
  left:0;
  opacity:1;
}
#third:checked ~ div.three {
  left:0;
  opacity:1;
}
